name: kita-futsal-app
services:
  user-service:
    container_name: payment-service
    platform: linux/amd64
#    image: anddriii/user-service:1 // build ketika di server
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8003:8003"
    env_file:
      - .env