name: kita-futsal
services:
  field-service:
    container_name: field-service
    platform: linux/amd64
#    image: anddriii/user-service:1 // build ketika di server
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8002:8002"
    env_file:
      - .env
networks:
  host:
    external: true
  local-network:
    driver: bridge