.btn {
  padding: 12px 30px;
  border-radius: 30px;
  font-size: 14px;
}

.btn:active,
.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn.btn-primary {
  background: #43caff;
  border-color: #0dcbd9;
}
.btn.btn-primary:hover {
  border-color: #1c99ff;
  background: #049abf;
}

.caption {
  color: white;
  font-size: 15px;
  margin-top: -25px;
  margin-bottom: 35px;
  position: relative;
}